@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Go to:</h1>
    <h1 class="display-4"><a href="/Read/1">CRUD Operations with Repository Pattern and EF Core</a></h1>
</div>
