@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Read the tutorial at -  <a href="https://www.hosting.work/aspnet-core-razor-pages-repository-pattern-ef-core/" target="_blank">ASP.NET Core Razor Pages CRUD</a>.</p>
    <h2>Make sure the database is created then go to - <a class="btn btn-sm btn-primary" asp-page="Read" asp-route-id="1">Read Records Page</a></h2>

    <h2>Search Movies page - <a class="btn btn-sm btn-primary" asp-page="Search">Click here</a></h2>
</div>
